<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oktay.kaynakemniyetkontrolu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="KaynakKontrolü"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">
            <intent-filter>
                <action android:name="com.example.oktay.kaynakemniyetkontrolu.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CekmeActivity">
            <intent-filter>
                <action android:name="com.example.oktay.kaynakemniyetkontrolu.CekmeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".EgilmeActivity">
            <intent-filter>
                <action android:name="com.example.oktay.kaynakemniyetkontrolu.EgilmeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".KaymaActivity">
            <intent-filter>
                <action android:name="com.example.oktay.kaynakemniyetkontrolu.KaymaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".EmniyetActivity">
            <intent-filter>
                <action android:name="com.example.oktay.kaynakemniyetkontrolu.EmniyetActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>